// scss全局变量
$blue: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
$text1: #303133;
$text2: #606266;
$text3: #909399;
$text4: #c0c4cc;
$border1: #dcdfe6;
$border2: #e4e7ed;
$border3: #ebeef5;
$border4: #f2f6fc;
// 线段
.line {
  width: 100%;
  margin: 10px 0;
  height: 1px;
  background-color: $border1;
}
// 说明文字
.caption {
  color: $text3;
  font-size: 0.9em;
}
h1 {
  font-weight: 500;
}
// 链接
@mixin link-colors($normal, $hover) {
  text-decoration: none;
  color: $text1;
  &:hover {
    color: $hover;
  }
}
// 空白文字样式
@mixin empty($margin) {
  @extend .caption;
  text-align: center;
  margin: $margin 0;
}
.empty {
  @include empty(300px);
}
a {
  @include link-colors($text1, $blue);
}
.h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
// 超过部分省略号
@mixin word-ellipsis {
  // line-clamp: $line;
  display: inline-block;
  width: 100%;
  overflow: hidden; /* 让超出边框的文本隐藏起来*/
  text-overflow: ellipsis; /* 让超出边框边缘的的文本显示成...*/
  white-space: nowrap; /*让多出边框的文本不换行，在同一行显示*/
}