// scss全局变量
$blue:#409EFF;
$success:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$info:#909399;
$text1:#303133;
$text2:#606266;
$text3:#909399;
$text4:#C0C4CC;
$border1:#DCDFE6;
$border2:#E4E7ED;
$border3:#EBEEF5;
$border4:#F2F6FC;
// 线段
.line {
  width: 100%;
  margin: 10px 0;
  height: 1px;
  background-color:$border1;
}
// 说明文字
.caption{
  color: $text3;
  font-size: 0.9em;
}
h1{
  font-weight: 500;
}